.newsCard{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: gray;
    padding:3%;
    padding-bottom: 30px;
}
.fonteLink{
    color:gray;
    font-size:9pt;
}
.date{
    color:gray;
    font-size:9pt;
}
